*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
   
}
body{
   background-color: #eee;
}
.section{
    width: 25%;
    height: 400px;
    background-color: whitesmoke;
    border: 1px solid #7b9ec9;
    margin-left: 520px;
    margin-top: 130px;
}
h1{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;

}
input{
    width: 90%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #7b9ec9;
    margin-left: 10px;
    text-align: center;
    
    
}